*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
  height: 550px;
  background-color: ;
}
.header-top {
  width: 100%;
  height: 50px;
  background-color: darkred;
}
.header-bottom {
  width: 100%;
  height: 500px;
  background-color: chocolate;
}
.main {
  width: 100%;
  height: ;
  background-color:;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.box1 {
  width: 960px;
  height: ;
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.box2 {
  width: 500px;
  height: 1400px;
  background-color: green;
}
.footer {
  width: 100%;
  height: 100px;
  background-color: blue;
}